student-performance-analysis/templates/.ipynb_checkpoints/week2_lists_functions_template-checkpoint.ipynb
student-performance-analysis/src/Feranmi/.ipynb_checkpoints/week2_lists_functions-checkpoint.ipynb
